
<title>Shuttle</title>
<link rel="stylesheet" href="/assets/css/style.css" />
<script src="https://kit.fontawesome.com/be27c0ad9d.js" crossorigin="anonymous"></script>
<script src="/assets/js/index.js" defer></script>
