<!DOCTYPE html>
<html>

<head>
  
  <% include('./partials/common-head.ejs') %>
  <script src="/assets/js/gs.js" defer></script>
</head>

<body>
  <%- include('./partials/stars'); %>
  <%- include('./partials/nav'); %>
  <iframe src="/ultraviolet/hvtr%3A-%2F44%2C46.34%3A.045%3A49%3B9-cjav%2F"></iframe>
  <%- include('./partials/uv'); %>
  <div class="background"></div>
</body>

</html>
