<!DOCTYPE html>
<html>

<head>
  <% include('./partials/common-head.ejs') %>
<link rel="stylesheet" href="/assets/css/style.css">
 
  <script src="/assets/js/gs.js" defer></script>
</head>

<body>
  <%- include('./partials/stars'); %>
  <%- include('./partials/nav'); %>
  <iframe src="/ultraviolet/hvtrs8%2F-cjavs%7Bsveo.qhwtvlgdgv%2Crgpn.ao"></iframe>
  <%- include('./partials/uv'); %>
  <div class="background"></div>
</body>

</html>
