<!DOCTYPE html>
<html>

<head>
  <% include('./partials/common-head.ejs') %>
  <script src="/assets/js/gs.js" defer></script>
<link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
  <%- include('./partials/stars'); %>
  <%- include('./partials/nav'); %>
  <iframe src="/ultraviolet/hvtrs8%2F-nmweg%2Csjuvtnefet.perl%2Ccm%2Fqhwtvlg.jtol"></iframe>
  <%- include('./partials/uv'); %>
</body>

</html>
